@font-face {
    font-family: 'Audi Type Screen';
    src: url('AudiTypeScreen-Normal.woff2') format('woff2'),
        url('AudiTypeScreen-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Audi Type Extended';
    src: url('AudiType-ExtendedNormal.woff2') format('woff2'),
        url('AudiType-ExtendedNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Audi Type Screen';
    src: url('AudiTypeScreen-Light.woff2') format('woff2'),
        url('AudiTypeScreen-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Audi Type Extended';
    src: url('AudiType-ExtendedBold.woff2') format('woff2'),
        url('AudiType-ExtendedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Audi Type Screen';
    src: url('AudiTypeScreen-Bold.woff2') format('woff2'),
        url('AudiTypeScreen-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

