/* My Font */
@font-face {
    font-family: 'Audi Type Extended';
    src: url('../fonts/AudiType-ExtendedBold.woff2') format('woff2'),
        url('../fonts/AudiType-ExtendedBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Audi Type Screen';
    src: url('../fonts/AudiTypeScreen-Normal.woff2') format('woff2'),
        url('../fonts/AudiTypeScreen-Normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
}

.navbar {
    font-size: 18px;
    font-family: 'Audi Type Screen', sans-serif;
}

.linija {
    border-left: 2px solid white;
    height: 50px;
}

.turinys {
    margin: 1%;
}

.turinys h1 {
    font-family: 'Audi Type Extended', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Audi Type Extended', sans-serif;
}

h1 {
   padding-top: 20px;
}

label {
    font-family: 'Audi Type Screen', sans-serif;
}

.turinys p {
    font-family: 'Audi Type Screen', sans-serif;
    font-size: 18px;
    padding: 5px;
}

#logo {
    width: 100px;
    z-index: 1;
}

#linkas {
    color: white;
}

#linkas:hover {
    color: antiquewhite;
}

.banner {
    background-image: url('../img/banner.jpg');
    background-position: center;
    background-size: cover;
    padding-bottom: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 150px;
}

#audisport {
    padding-top: 20px;
    text-align: center;
}

.footer {
    position: relative;
    margin-top: -150px;
    height: 150px;
    clear: both;
    padding-top: 20px;
}

img {
    position: relative;
    top: 0;
    left: 0;
    z-index: -99;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* Visi modeliai puslapis */
#banner1 {
    width: 300px;
    margin: 0 auto;
}

.modeliai {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.modeliai img {
    width: 300px;
    margin: 10px;
}

/*figure {
    border: 1px solid green;
}*/

figcaption {
    width: 300px;
    text-align: center;
    font-family: 'Audi Type Extended', sans-serif;
}

/* Audi Servisas Puslapis */
.servisas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servisas img {
    width: 100%;
    padding: 10px;
}

#servisas-caption {
    width: 100%;
    text-align: center;
}

/*Atsiliepimai puslapis*/
#input {
    width: 400px;
}

/* Kontaktai puslapis */
#blokas1 {
    float: left;
    margin: 30px;
}

#blokas2 {
    float: left;
    margin: 30px;
}

.fix {
    clear: both;
}


/* ICONS */
.fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 5px;
}

.fa:hover {
    color: black;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

/**/
/* Login puslapis*/
.video-content-login {
    position: relative;
    margin: 0 auto;
}

.video-content {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

#manoVideo {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

#manoMygtukas {
    position: absolute;
    bottom: 10px;
    left: 5px;
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: black;
    color: #fff;
    cursor: pointer;
}
  
#manoMygtukas:hover {
    background: transparent;
    border: 1px solid white;
}

.login-form {
    width: 300px;
    margin: 0 auto;
}

.signup-form {
    width: 300px;
    margin: 0 auto;
}

/* Atsijungti */
#atsijungti {
    color: white;
}

<<<<<<< HEAD
/* Orai */
#miestas {
    width: 400px;
}

=======
>>>>>>> b80373fe0422425858f14230b312531922228311

/* Media Queries */

@media only screen and (max-width: 1024px) {
    .video-content-login {
        display: none;
    }

    .video-content {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .linija {
        display: none;
    }
}