{% extends 'base.html' %}

{% block head %}
<title>Servisas</title>
{% endblock %}

{% block body %}

<div id="banner">
    <img src="{{ url_for('static', filename='img/service.jpg') }}" alt="service">
</div>


<div id="wrap">
    <div id="main" class="clear-top">
        <div class="turinys">

            <h1>Servisas</h1>
            <hr class="bg-danger p-1" style="width: 300px;">
            
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero suscipit asperiores neque quos minima, molestiae, autem fugit sequi tenetur cum fuga adipisci odio illo quidem vitae! Aliquam quis voluptates quas?</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A illo doloremque sint, provident quod et vero odit. Quam nam assumenda quis ratione, animi veritatis eligendi voluptate beatae iste dolor soluta!</p>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, inventore repellat! Illo dicta culpa maiores in aut doloremque, recusandae repellendus laudantium nesciunt animi deleniti debitis consectetur. Sint nobis exercitationem ducimus!</p>
        
        <div class="servisas">
            <div> 
                <figure>
                    <img src="{{ url_for('static', filename='img/serviso_akcijos.jpg') }}" alt="auto">
                    <figcaption id="servisas-caption">Serviso Akcijos</figcaption>
                </figure>                 
            </div>

            <div> 
                <figure>
                    <img src="{{ url_for('static', filename='img/org_dalys.jpg') }}" alt="auto">
                    <figcaption id="servisas-caption">Originalios Audi Dalys</figcaption>
                </figure>                 
            </div>  

            <div> 
                <figure>
                    <img src="{{ url_for('static', filename='img/aksesuarai.jpg') }}" alt="auto">
                    <figcaption id="servisas-caption">Originalūs Aksesuarai</figcaption>
                </figure>                 
            </div>

            <div> 
                <figure>
                    <img src="{{ url_for('static', filename='img/garantija.jpg') }}" alt="auto">
                    <figcaption id="servisas-caption">Garantijos</figcaption>
                </figure>                 
            </div>
        </div>

        </div>

        <div id="audisport" style="clear: both;">
            <img src="{{ url_for('static', filename='img/audisport.png') }}" alt="audisport" style="max-width: 300px;">
        </div>

    </div>
</div>

{% endblock %}