<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!--Mano CSS-->
     <link rel="stylesheet" href="{{ url_for('static', filename='css/mano.css') }}">

    <!--Bootstrap-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!--Icons-->
    <link rel="shortcut icon" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Icons v2-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    {% block head %}{% endblock %}
</head>
<body>

        {% include 'navbar.html' %}

        <div class="container-fluid">
        {% block body %}{% endblock %}
        </div>

        {% include 'footer.html' %}
        
        <!--<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>-->


        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"         crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"           crossorigin="anonymous"></script>

        <!--Mano JS-->
        <script src="{{ url_for('static', filename='js/mano.js') }}"></script>
</body>
</html>


<!--Zinuciu flash sablonas
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
                Do something with the message 
            {{ message }}

        {% endfor %}
    {% endif %}
{% endwith %}
-->

<!--Zinuciu flash sablonas 2-->
<!--{% for message in get_flashed_messages() %}
<div class=flash>
    {{ message }}
</div>
{% endfor %}
-->