{% extends 'base.html' %}

{% block head %}
<title>Kontaktai</title>
{% endblock %}

{% block body %}

<div>
    <img src="{{ url_for('static', filename='img/contacts.jpg') }}" alt="audi2">
</div>

<div id="wrap">
    <div id="main" class="clear-top">
        <div class="turinys">

            <h1>Kontaktai</h1>
            <hr class="bg-danger p-1" style="width: 300px;">

           <!--Python Flask zinutes-->
           {% with messages = get_flashed_messages() %}
           {% if messages %}
               {% for message in messages %}
                   <div class="alert alert-success alert-dismissible fade show" role="alert">
                       <span>{{ message }}</span>
                       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                       <span aria-hidden="true">&times;</span>
                       </button>
                   </div>
               {% endfor %}
           {% endif %}
       {% endwith %}
       <!--Python Flask zinutes-->

    <div class="fix">

            <div id="blokas1">
               <form class="form-group" action="/kontaktai" method="POST">
                <label for="vardas">Jūsų Vardas:</label> <br>
                <input  class="form-control" type="text" name="k_vardas" id="vardas" placeholder="Vardas" required> <br>
                <label for="telefonas">Telefonas:</label> <br>
                <input class="form-control" type="text" name="k_telefonas" id="telefonas" placeholder="Telefono numeris"> <br>
                <label for="pastas">El. paštas:</label> <br>
                <input class="form-control" type="email" name="k_pastas" id="pastas" placeholder="El. paštas" required> <br>
                <textarea class="form-control" name="k_tekstas" id="input" rows="3" placeholder="Komentaras" required></textarea> <br><br>
                <input type="submit" value="Siųsti" class="btn btn-success">
                </form>
            </div>


            <div id="blokas2">   
                <h4>Klaipėdos Audi centras</h4>

                    <h5>Adresas</h5>
                    <p>Šilutės pl.50,
                    LT-94181 Klaipėda
                    Tel. +370 46342230</p>

                    <h5>Darbo Laikas</h5>
                    <p>Pirmadienis - Penktadienis 09.00 - 19.00
                    Šeštadienis 09.00 - 15.00</p>
                    
                    <h5>Servisas</h5>
                    <p>Pirmadienis - Penktadienis 08.00 - 19:00
                    Šeštadienis 09.00 - 15.00
                    Tel. +370 46340124</p>
            </div>

    </div>

        </div>

        <div id="audisport" style="clear: both;">
            <img src="{{ url_for('static', filename='img/audisport.png') }}" alt="audisport" style="max-width: 300px;">
        </div>

    </div>
</div>

{% endblock %}