{% extends 'base.html' %}

{% block head %}
<title>Koreguoti</title>
{% endblock %}

{% block body %}

<div id="wrap">
    <div id="main" class="clear-top">
        <div class="turinys">

            <h2>Koreguoti:</h2>

            <form action="/atsiliepimai/koreguoti/{{ atsiliepimas.id }}" method="POST">

                <label for="vardas">Vardas:</label>
                <input class="form-control" type="text" name="vardas" id="vardas" value="{{ atsiliepimas.vardas }}" placeholder="Įveskite vardą arba El. paštą" required>
                <br>
                <label for="pavadinimas">Antraštė:</label>
                <input class="form-control" type="text" name="pavadinimas" id="pavadinimas" value="{{ atsiliepimas.pavadinimas }}" placeholder="Atsiliepimo pavadinimas (Nebūtina)">
                <br>
                <label for="tekstas">Tekstas:</label>
                <textarea class="form-control" name="tekstas" id="tekstas" rows="3" placeholder="Įrašykite atsiliepimą" required>{{ atsiliepimas.tekstas }}</textarea>
                <br>
                <input type="submit" value="Išsaugoti" class="btn btn-success">
            
            </form>
            <hr class="bg-dark">
    
        </div>

        <div id="audisport" style="clear: both;">
            <img src="{{ url_for('static', filename='img/audisport.png') }}" alt="audisport" style="max-width: 300px;">
        </div>

    </div>
</div>

{% endblock %}