{% extends 'base.html' %}

{% block head %}
<title>Atsiliepimai</title>
{% endblock %}

{% block body %}

<form action='/atsiliepimai' method="GET" class="form-inline mt-2 mt-md-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Ieškoti" aria-label="Search" name="ieskoti" id="ieskoti">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ieškoti</button>
  </form>

<div id="wrap">
    <div id="main" class="clear-top">
        <div class="turinys">

            <h1>Atsiliepimai</h1>
            <hr class="bg-danger p-1" style="width: 300px;">

            <h2>Parašykite atsiliepimą:</h2>

            <form action="/atsiliepimai" method="POST">

            <label for="vardas">Vardas:</label>
            <input class="form-control" type="text" name="vardas" id="input" placeholder="Įveskite vardą arba El. paštą" required>
            <br>
            <label for="pavadinimas">Antraštė:</label>
            <input class="form-control" type="text" name="pavadinimas" id="input" placeholder="Atsiliepimo pavadinimas (Nebūtina)">
            <br>
            <label for="tekstas">Tekstas:</label>
            <textarea class="form-control" name="tekstas" id="input" rows="3" placeholder="Įrašykite atsiliepimą" required></textarea>
            <br>
            <input type="submit" value="Pateikti" class="btn btn-success">
            
            </form>
            <hr class="bg-dark">
            <button class="btn btn-dark" onclick="slepti()">Slėpti</button>
            <button class="btn btn-dark" onclick="rodyti()">Rodyti</button>

            <!--Javascript slepti ir rodyti bloka-->
            <div id="atsiliepimo_blokas">
                {% for atsiliepimas in atsiliepimai %}
                    <h2 class="mt-5">{{ atsiliepimas.vardas }}</h2>

                    {% if atsiliepimas.pavadinimas %}
                        <p>{{ atsiliepimas.pavadinimas }}</p>
                        <h6>{{ atsiliepimas.atsiliepimo_data }}</h6>
                    {% else %}
                        <h6>{{ atsiliepimas.atsiliepimo_data }}</h6>
                    {% endif %}
            


                    <p style="white-space: pre-wrap;"><br>{{ atsiliepimas.tekstas }}</p>
                    <a class="btn btn-primary" href="/atsiliepimai/koreguoti/{{ atsiliepimas.id }}">Edit</a>
                    <a class="btn btn-danger" href="/atsiliepimai/istrinti/{{ atsiliepimas.id }}">Delete</a>
                    <hr class="bg-warning">
                {% endfor %}
            </div>
            <!--Javascript slepti ir rodyti bloka-->
    
        </div>

        <div id="audisport" style="clear: both;">
            <img src="{{ url_for('static', filename='img/audisport.png') }}" alt="audisport" style="max-width: 300px;">
        </div>

    </div>
</div>

{% endblock %}