<footer class="page-footer font-small blue bg-secondary pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase text-info" style="color: white;
          text-shadow: 2px 2px 4px #000000;">Audi</h5>
          <hr class="bg-light">
          <p class="text-white">Audi AG – Vokietijos automobilių gamintojas, priklausantis „Volkswagen AG“ grupei. Audi pagrindinė būstinė yra Ingolštate, Bavarijoje. „Audi“ 99,7 % akcijų nuo 1964 m. valdo „Volkswagen“. Įmonė evoliucionavo iš „Auto Union“, „NSU“, „Horch“ ir „DKW“ kompanijų, kurios 1910 m. suformavo istorinę kompaniją „Audi“.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 id="laikrodis" class="text-uppercase text-info" style="color: white;
          text-shadow: 2px 2px 4px #000000;">Mano Audi</h5>

          <ul class="list-unstyled">
            <li class="text-white">
              Mes mylime Audi!
            </li>
            <li class="text-white">
              We love Audi!
            </li>
            <li class="text-white">
              Wir lieben Audi!
            </li>
            <li class="text-white">
              Nous aimons Audi!
            </li>
         </ul>
         <span id="clock" class="text-warning text-center"></span>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links Icons-->
          <h5 class="text-uppercase text-info" style="color: white;
          text-shadow: 2px 2px 4px #000000;">Būkime kartu</h5>
  
              <a href="https://www.facebook.com/AudiLietuvaOfficial/" class="fa fa-facebook" target="_blank"></a>

              <a href="https://www.youtube.com/channel/UCywouhngIvENef3w51V6PQQ" class="fa fa-youtube" target="_blank"></a>

              <a href="https://twitter.com/AudiLietuva" class="fa fa-twitter" target="_blank"></a>

              <a href="https://www.instagram.com/audilietuvaofficial/" class="fa fa-instagram" target="_blank"></a>
              
  
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
      &copy; 2020 Mindaugas. Visos teisės saugomos.
      <a class="text-danger" href="https://www.audi.lt/">Audi.lt</a>
    </div>
    <!-- Copyright -->

  </footer>