{% extends 'base.html' %}


{% block head %}
<title>Audi Pradžia</title>
{% endblock %}

{% block banner %}
    
{% endblock %}


{% block body %}

<!--Python Flask zinutes-->
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}
<!--Python Flask zinutes-->

<div class="banner">
    <h2 class="text-info" style="color: white;
    text-shadow: 2px 2px 4px #000000;">Sveiki Atvykę į Audi Pasaulį</h2>
</div>

<div id="wrap">
    <div id="main" class="clear-top">
        <div class="turinys">

            <h1>Vorsprung durch Technik - „Pažanga dėka technologijų“</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magnam rem explicabo labore ad perspiciatis voluptate illum quia inventore! Sed fugit autem magni sapiente repellat minima dolorum eveniet et asperiores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magnam rem explicabo labore ad perspiciatis voluptate illum quia inventore! Sed fugit autem magni sapiente repellat minima dolorum eveniet et asperiores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magnam rem explicabo labore ad perspiciatis voluptate illum quia inventore! Sed fugit autem magni sapiente repellat minima dolorum eveniet et asperiores.
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magnam rem explicabo labore ad perspiciatis voluptate illum quia inventore! Sed fugit autem magni sapiente repellat minima dolorum eveniet et asperiores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magnam rem explicabo labore ad perspiciatis voluptate illum quia inventore! Sed fugit autem magni sapiente repellat minima dolorum eveniet et asperiores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magnam rem explicabo labore ad perspiciatis voluptate illum quia inventore! Sed fugit autem magni sapiente repellat minima dolorum eveniet et asperiores.
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magnam rem explicabo labore ad perspiciatis voluptate illum quia inventore! Sed fugit autem magni sapiente repellat minima dolorum eveniet et asperiores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magnam rem explicabo labore ad perspiciatis voluptate illum quia inventore! Sed fugit autem magni sapiente repellat minima dolorum eveniet et asperiores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magnam rem explicabo labore ad perspiciatis voluptate illum quia inventore! Sed fugit autem magni sapiente repellat minima dolorum eveniet et asperiores.
            </p>

            

            <img src="{{ url_for('static', filename='img/audi1.jpg') }}" alt="audi1">

            <h1>Istorija</h1>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magnam rem explicabo labore ad perspiciatis voluptate illum quia inventore! Sed fugit autem magni sapiente repellat minima dolorum eveniet et asperiores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magnam rem explicabo labore ad perspiciatis voluptate illum quia inventore! Sed fugit autem magni sapiente repellat minima dolorum eveniet et asperiores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magnam rem explicabo labore ad perspiciatis voluptate illum quia inventore! Sed fugit autem magni sapiente repellat minima dolorum eveniet et asperiores.
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magnam rem explicabo labore ad perspiciatis voluptate illum quia inventore! Sed fugit autem magni sapiente repellat minima dolorum eveniet et asperiores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magnam rem explicabo labore ad perspiciatis voluptate illum quia inventore! Sed fugit autem magni sapiente repellat minima dolorum eveniet et asperiores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magnam rem explicabo labore ad perspiciatis voluptate illum quia inventore! Sed fugit autem magni sapiente repellat minima dolorum eveniet et asperiores.
            </p>

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magnam rem explicabo labore ad perspiciatis voluptate illum quia inventore! Sed fugit autem magni sapiente repellat minima dolorum eveniet et asperiores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magnam rem explicabo labore ad perspiciatis voluptate illum quia inventore! Sed fugit autem magni sapiente repellat minima dolorum eveniet et asperiores.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis magnam rem explicabo labore ad perspiciatis voluptate illum quia inventore! Sed fugit autem magni sapiente repellat minima dolorum eveniet et asperiores.
            </p>

            <img src="{{ url_for('static', filename='img/audi2.jpg') }}" alt="audi2">

            <div id="audisport">
                <img src="{{ url_for('static', filename='img/audisport.png') }}" alt="audisport" style="max-width: 300px;">
            </div>

        </div>
    </div>
</div>

{% endblock %}