{% extends 'base.html' %}

{% block head %}
<title>Kontaktai</title>
{% endblock %}

{% block body %}

        <div class="video-content-login">

            <video autoplay muted loop id="manoVideo">
                <source src="{{ url_for('static', filename='video/a8l_login.mp4') }}">
            </video>

            <button id="manoMygtukas" onclick="stopVideo()">Sustabdyti</button>
        </div>

<div id="wrap">
    <div id="main" class="clear-top">
        <div class="turinys">

            <h1>Prisijungti</h1>
            <hr class="bg-danger p-1" style="width: 300px;">

            <!--Python Flask zinutes-->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <span>{{ message }}</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <!--Python Flask zinutes-->

            <form class="form-group login-form" action="/prisijungti" method="POST">
                <label for="pastas">El. paštas:</label> <br>
                <input class="form-control" type="email" name="pastas" id="pastas" placeholder="El. paštas" required> <br>
                <label for="slaptazodis">Jūsų slaptažodis:</label> <br>
                <input  class="form-control" type="password" name="slaptazodis" id="slaptazodis" placeholder="Slaptažodis" required> <br>
                <input class="btn btn-success" type="submit" value="Prisijungti">
                </form>

        </div>

        <div id="audisport" style="clear: both;">
            <img src="{{ url_for('static', filename='img/audisport.png') }}" alt="audisport" style="max-width: 300px;">
        </div>

    </div>
</div>

{% endblock %}