{% extends 'base.html' %}

{% block head %}
<title>Automobiliai</title>
{% endblock %}

{% block body %}

<div id="banner1">
    <img src="{{ url_for('static', filename='img/automobiliai.png') }}" alt="auto">
</div>

<div id="wrap">
    <div id="main" class="clear-top">
        <div class="turinys">

            <h1>Mūsų Automobiliai</h1>
            <hr class="bg-danger p-1" style="width: 500px;">

            <div class="modeliai">

                <div> 
                    <figure>
                        <img src="{{ url_for('static', filename='img/modeliai/a1.webp') }}" alt="auto">
                        <figcaption>Audi A1</figcaption>
                    </figure>                 
                </div>  
                
                <div>
                    <figure>
                        <img src="{{ url_for('static', filename='img/modeliai/a3.webp') }}" alt="auto">
                        <figcaption>Audi A3</figcaption>
                    </figure>
                </div>

                <div>
                    <figure>
                        <img src="{{ url_for('static', filename='img/modeliai/a4.webp') }}" alt="auto">
                        <figcaption>Audi A4</figcaption>
                    </figure>
                </div>

                <div>
                    <figure>
                        <img src="{{ url_for('static', filename='img/modeliai/a5.webp') }}" alt="auto">
                        <figcaption>Audi A5</figcaption>
                    </figure>
                </div>

                <div>
                    <figure>
                        <img src="{{ url_for('static', filename='img/modeliai/a6.webp') }}" alt="auto">
                        <figcaption>Audi A6</figcaption>
                    </figure>
                </div>

                <div>
                    <figure>
                        <img src="{{ url_for('static', filename='img/modeliai/a7.webp') }}" alt="auto">
                        <figcaption>Audi A7</figcaption>
                    </figure>
                </div>

                <div>
                    <figure>
                        <img src="{{ url_for('static', filename='img/modeliai/a8.webp') }}" alt="auto">
                        <figcaption>Audi A8</figcaption>
                    </figure>
                </div>

                <div>
                    <figure>
                        <img src="{{ url_for('static', filename='img/modeliai/q2.webp') }}" alt="auto">
                        <figcaption>Audi Q2</figcaption>
                    </figure>
                </div>

                <div>
                    <figure>
                        <img src="{{ url_for('static', filename='img/modeliai/q3.webp') }}" alt="auto">
                        <figcaption>Audi Q3</figcaption>
                    </figure>
                </div>
                
                <div>
                    <figure>
                        <img src="{{ url_for('static', filename='img/modeliai/q5.webp') }}" alt="auto">
                        <figcaption>Audi Q5</figcaption>
                    </figure>
                </div>

                <div>
                    <figure>
                        <img src="{{ url_for('static', filename='img/modeliai/q7.webp') }}" alt="auto">
                        <figcaption>Audi Q7</figcaption>
                    </figure>
                </div>

                <div>
                    <figure>
                        <img src="{{ url_for('static', filename='img/modeliai/q8.webp') }}" alt="auto">
                        <figcaption>Audi Q8</figcaption>
                    </figure>
                </div>

                <div>
                    <figure>
                        <img src="{{ url_for('static', filename='img/modeliai/tt.webp') }}" alt="auto">
                        <figcaption>Audi TT</figcaption>
                    </figure>
                </div>

                <div>
                    <figure>
                        <img src="{{ url_for('static', filename='img/modeliai/e-tron.webp') }}" alt="auto">
                        <figcaption>Audi E-Tron</figcaption>
                    </figure>
                </div>

                <div>
                    <figure>
                        <img src="{{ url_for('static', filename='img/modeliai/r8.webp') }}" alt="auto">
                        <figcaption>Audi R8</figcaption>
                    </figure>
                </div>

        </div>   
    </div>

    <div id="audisport">
        <img src="{{ url_for('static', filename='img/audisport.png') }}" alt="audisport" style="max-width: 300px;">
    </div>

</div>

{% endblock %}