<nav class="navbar navbar-expand-md navbar-dark bg-secondary mb-4">
  <a class="navbar-brand" href="/"><img id="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a id="linkas" class="nav-link" href="/">Pradžia <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a id="linkas" class="nav-link" href="/visi/modeliai">Visi modeliai</a>
        </li>
        <li class="nav-item">
          <a id="linkas" class="nav-link" href="/servisas">Audi servisas</a>
        </li>
        <li class="nav-item">
          <a id="linkas" class="nav-link" href="/atsiliepimai">Atsiliepimai</a>
        </li>
        <li class="nav-item">
          <a id="linkas" class="nav-link" href="/kontaktai">Kontaktai</a>
        </li>
        <li class="nav-item">
          <a id="linkas" class="nav-link text-warning" href="/orai">Orų prognozė</a>  
      </ul>
      
        {% if current_user.is_authenticated  %}
          <a id="linkas" class="nav-link" href="#">Sveiki, {{ current_user.vardas }}</a>
          <a class="text-warning mr-5" href="/atsijungti">Atsijungti</a>
        {% endif %}
<<<<<<< HEAD
=======

        {% if not(current_user.is_authenticated) %}
          <a id="linkas" class="nav-link" href="/prisijungti">Prisijungti</a>
          <a id="linkas" class="nav-link" href="/registruotis">Registruotis</a>
        {% endif %}


        <!--<h3>Greetings {{ session.vardas }}</h3>-->
        {% if current_user.is_authenticated  %}
          <!-- app.py users klaseje nera parametro vartotojo_vardas -->
            <h1>Sveiki, {{ current_user.vardas }}</h1>
        {% endif %}
>>>>>>> b80373fe0422425858f14230b312531922228311

        {% if not(current_user.is_authenticated) %}
          <a id="linkas" class="nav-link" href="/prisijungti">Prisijungti</a>
          <div class="linija"></div>
          <a id="linkas" class="nav-link" href="/registruotis">Registruotis</a>
        {% endif %}
        
    </div>
  </nav>