{% extends 'base.html' %}

{% block head %}
<title>Orai</title>
{% endblock %}

{% block body %}

<div id="wrap">
    <div id="main" class="clear-top">
        <div class="turinys">

            <h1>Orų Prognozė</h1>
            <hr class="bg-danger p-1" style="width: 400px;">


            <form action="/orai" method="POST">
              <label for="miestas">Miestas:</label>
              <input class="form-control mr-sm-2" type="text" name="miestas" id="miestas" placeholder="Miestas" required>
              <br>
              <input class="btn btn-success" type="submit">
            </form>
        </div>

        <hr class="bg-dark">

        <div>
          <p><span>Miestas:</span> <b>{{ miestas }}</b></p>
          <p><span>Šalis:</span> <b>{{ salis }}</b></p>
          <p><span>Temperatūra:</span> <b>{{ temp }}</b></p>
          <p><span>Oras: </span><b>{{ aprasymas }}</b></p>
          <p><span>Drėgmė:</span> <b>{{ dregme }}</b></p>
          <p><span>Vejas:</span> <b>{{ vejas }}</b></p>
        </div>

        <hr class="bg-dark">

        <div id="audisport" style="clear: both;">
            <img src="{{ url_for('static', filename='img/audisport.png') }}" alt="audisport" style="max-width: 300px;">
        </div>

    </div>
</div>

{% endblock %}